/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* box styles default*/
* {
    box-sizing: border-box;
}

/* global styles */

body{
    -webkit-font-smoothing: antialiased;
}

/* Header Styles */

.main-header{
    background-image: url(../img/unsplash-bonus.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20em 3em;
}
.main-header h1{
    font-family: sans-serif;
    font-weight: 200;
    font-size: 4em;
    text-align:right;
    color: #fff;
}
span.bold{
    font-weight:700;
    color: #cc0000;
}
.main-header h2{
    font-family: sans-serif;
    font-size: 2em;
    text-align: right;
    color: #fff;
}

.header-text{
    width: 500px;
    float: right;
    margin-top: 4em;
    -webkit-font-smoothing: antialiased;
    text-shadow: #333 1px 1px;
    
    
}
/* main nav styles */
.toggler{
    position: fixed;
    z-index: 9999;
    top: 50px;
    font-size: 2.5em;
    color: #000;
}
.toggler:hover{
    cursor: pointer;
}
.main-nav{
    width: 200px;
height: 200px;
background: #cc0000;
position: fixed;
z-index: 9999;
top: 0;
left: 8em;
border: solid 2px #cc0000;
}

ul.nav{
    text-align: center;
    margin-top: 1em;
}
ul.nav li{
    font-size:1.5em;
    font-family: sans-serif;
    font-weight: 200;
    margin-bottom: 5px;
    -webkit-font-smoothing: antialiased;
}

ul.nav li a{
    text-decoration: none;
    color: #fff;
}
ul.nav li a:hover{
    color: #333;
}

/* social nav links */

ul.social{
    text-align: center;
    margin-top: 3em;
}
ul.social li{
    display:inline-block;
    -webkit-font-smoothing: antialiased;
}
ul.social li a{
    color: #fff;
}
ul.social li a:hover{
    color: #333;
}
ul.social li i{
    font-size: 1.5rem;
    padding: 5px;
}

/* intro section styles */

.intro{
    width: 100%;
    padding: 3em 0;
    background: #333;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    box-shadow: #aaa 0px 4px 4px;
}
.intro-content{
    width: 970px;
    margin: 0 auto;
}
.intro-content > * {
    float: left;
}
.intro-content a{
    text-decoration: none;
    color: #be4343;
}
.intro-content a:hover{
    color: #fff;
}
.intro-content h1{
    color: #fff;
    font-family: sans-serif;
    font-size: 3.25rem;
    font-weight: 200;
    padding: 0.5em;
    border: solid 2px #be4343;
    border-radius: 1em;
}
.intro-content p {
    width: 550px;
    margin-left: 3em;
    font-size: 1.5rem;
    font-weight: 200;
    color: #aaa;
}
.intro-content:after{
    display: table;
    content: ' ';
    clear: both;
}

/* project styles */

.projects{
    padding: 2em 0;
    width: 100%;
}

.project-content {
    width: 970px;
    margin: 0 auto;
}
.project-content h2 {
    color: #333;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    font-weight: 200;
    font-family: sans-serif;
}
.project-list li{
    width: 440px;
    background: #eee;
    margin: 0 0.5rem 1.25rem ;
    padding: 5px;
    border: solid 5px #333;
    display:inline-block;
}
.project-list li img{
    width: 100%;
    display: block;
    position: relative;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}
.project-list li figure{
    position: relative;
}
.caption {
    position: absolute;
    padding: 20px;
    height: 90px;
    width: 100%;
    top: auto;
    bottom: 0;
    background: #2c3f52;
    color: #fff;
    
}
.caption h3{
    font-family:sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
}
.project-list figure:hover img{
    
    transform: translateY(-90px);
}

.project-list figcaption{
    height: 90px;
    width: 100%;
    top: auto;
    bottom: 0;
}

.project-list figcaption a {
    position: absolute;
    right: 20px;
    top: 45px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 200;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #be4343;
    color: #fff;
}

.project-list figcaption p {
    
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 200;
    margin-top: 1rem;
}
/* contact styles */

.contact {
    padding: 2em 0;
    width: 100%;
    background: #be4343;
}
.contact-content{
    width: 970px;
    margin: 0 auto 3em;
}
.contact-content h2{
    color: #fff;
    font-size: 3em;
    font-weight: 200;
    font-family: sans-serif;
    margin: 2em 0;
}
.contact-content p {
    color: #eee;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 200;
    padding-bottom: 0.75em;
}
.contact-content a{
    color: #fff;
}
.contact-content a:hover{
    color: #333;
}
.contact-content a.twitter{
    color: #55acee;
}
.contact-content a.facebook {
    color: #4c66a4;
}
.contact-content a.linkedin {
    color: #0e76a8;
}
.contact-content a.twitter, .contact-content a.facebook ,.contact-content a.linkedin {
    text-shadow: #333 2px 2px;
}

/* footer styles */

.footer {
    padding: 2em 0;
    width: 100%;
    background: url(../img/notebook.png);
}
.footer-content{
    width: 970px;
    margin: 0 auto;
}
.footer-content h3 {
    float: left;
    color: #333;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 200;
}
.footer-content p{
    float: right;
    color: #333;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1em;
}
.footer-content:after{
    display:table;
    content:' ';
    clear:both;
}
    
